# cache
**/__pycache__
.ruff_cache
.pytest_cache

# config
configs

# runtime
**/temp/**
!**/temp/**/.gitkeep
plugins/**/data/**
!plugins/**/data/**/.gitkeep
.venv
log.out*
.webcontroller
.env
.compose-check-*.yaml

# docker extra
.git
.gitignore
.gitattributes
.github
docs
.pre-commit-config.yaml
tests
.dockerignore
Dockerfile
Dockerfile.webcontroller
compose.yaml
*.md
