# cache
**/__pycache__/
/.ruff_cache/
/.pytest_cache/

# config
/configs/*.toml

# runtime
**/temp/**
!**/temp/**/
!**/temp/**/.gitkeep
/plugins/**/data/**
!/plugins/**/data/**/
!/plugins/**/data/**/.gitkeep
/.venv/
/log.out*
/.webcontroller/
/.env
/.compose-check-*.yaml
